@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monospace821BT";
    src: url("/assets/css/Monospace\ 821\ BT\ Regular.otf");
}

@font-face {
    font-family: "MacanSemibold";
    src: url("/assets/css/Macan-Semibold.woff");
}

@font-face {
    font-family: "MacanBook";
    src: url("/assets/css/Macan-Book.woff");
}