@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monospace821BT";
    src: url("assets/Monospace821BTRegular.otf");
}

@font-face {
    font-family: "MacanSemibold";
    src: url("assets/Macan-Semibold.woff");
}

@font-face {
    font-family: "MacanBook";
    src: url("assets/Macan-Book.woff");
}
